<div class="container-fluid">
    <div class="row">
        <div id="leftpane-id" class="col-2 leftpane m-3">
            <div>
                <form class="d-flex">
                    <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
                    <button class="btn btn-outline-success" type="submit">Search</button>
                </form>
                <nav id="navbar-example3" class="navbar navbar-light bg-light flex-column align-items-stretch p-3">
                    <a class="navbar-brand" href="#">Chat List</a>
                    <nav class="nav nav-pills flex-column">
                        <a class="nav-link" href="#item-1">Item 1</a>
                        <nav class="nav nav-pills flex-column">
                            <a class="nav-link ms-3 my-1" href="#item-1-1">Item 1-1</a>
                            <a class="nav-link ms-3 my-1" href="#item-1-2">Item 1-2</a>
                        </nav>
                        <a class="nav-link" href="#item-2">Item 2</a>
                        <a class="nav-link" href="#item-3">Item 3</a>
                        <nav class="nav nav-pills flex-column">
                            <a class="nav-link ms-3 my-1" href="#item-3-1">Item 3-1</a>
                            <a class="nav-link ms-3 my-1" href="#item-3-2">Item 3-2</a>
                        </nav>
                    </nav>
                </nav>
                <div data-bs-spy="scroll" data-bs-target="#navbar-example3" data-bs-offset="0" tabindex="0">
                </div>
            </div>
        </div>
        <div class="col-8 main-content"> Chat Window
            <div class="nested-container">
            </div>
            <div class="message-box">
                <form class="d-flex">
                    <input class="form-control me-2" type="text" placeholder="Message" aria-label="Message">
                    <button class="btn btn-outline-success" type="submit">Send</button>
                </form>
            </div>
        </div>
        <div class="col-1 rightpane m-3">

        </div>
    </div>
</div>