/*Theme 1*/

#navbar-id{
    background:#7C07A9;
    color:white;
}

.navbar-brand{
    font-size:25px;
}

.nav-item{
    color:white;
}

.logout-button{
    background-color:black;
    border-radius:5px;
    color:white;
}

.navbar-nav{
    color:white;
}

.class-name{
    color:white;
}



/*Theme 2*/
/*
#navbar-id{
    background:#006363;
}
*/
/*Theme 3*/
/*
#navbar-id{
    background:#84E900;
}
*/