<div class="new-user-container">
    <form>
        <div>
            <input type="text" placeholder="Username" required name="Username" />
        </div>
        <div>
            <input type="text" placeholder="Name" required name="Name" />
        </div>
        <div>
            <input type="text" placeholder="Password" required name="Password" />
        </div>
        <div>
            <input type="url" placeholder="Profile_Pic" name="Profile_Pic" />
        </div>
        <div>
            <input type="submit" value="Create Account" required/>
        </div>
    </form>
</div>