<div class="card-container">
    <div class="float-layout">
        <div class="card-image">
            <div class="pic-container">
                <img id="pending-profile-pic" src="{{friend.requesterid.profilepic}}">
            </div>
            <div class="card">
                <div class="card-title">{{friend.requesterid.name}}</div>
                <div class="button-attributes">
                    <input class="button" type="button" value="Accept" (click)="acceptFriendRequest()">
                </div>
            </div>
        </div>
    </div>
</div>