<div class="card-container">
    <div class="float-layout">
        <div class="card-image">
            <img id="img-{{user.userid}}" src="{{user.profilepic}}">
            <div class="card">
                <div class="card-title">{{user.name}}</div>
                <div class="card-desc"> 
                    <input id="add-button-{{user.userid}}" type="button" value="Add" (click)="addFriend()">
                    <input id="block-button-{{user.userid}}" type="button" value="Block" (click)="blockUser()">
                </div>
            </div>
        </div>
    </div>
</div>