<div class="login-container">
    <form id="login_form" method="POST" action="">
        <div>
            <input type="text" placeholder="Username" required name="Username"/>
        </div>
        <div>
            <input type="password" placeholder="Password" required name="Password"/>
        </div>
        <div>
            <input type="submit" value="Login Button" required/>
        </div>
    </form>
        <nav>
            <a routerLink="/content"> Main Content </a>
        </nav>
        <nav>
            <a routerLink="/new-user"> Create Account </a>
        </nav>
</div>
