<div class="login-container col-4">
    <form id="login_form">
        <div method="POST" action="">
            <div>
                <input id="username-box" [(ngModel)]="user.username" type="text" placeholder="Username" name="username" required/>
            </div>
            <div>
                <input id="password-box" [(ngModel)]="user.password" type="password" placeholder="Password" required name="Password" required/>
            </div>
            <input id="login-button" class="button" (click)="login()" type="submit" value="Login Button" required/>
        </div>
    </form>
    <nav>
        <a id="create-account-link" routerLink="/new-user"> Create New Account </a>
    </nav>
</div>