#scroll {
    height: 450px;
    width: 100%;
    overflow: auto;
    border: 4px solid #65247F;
    padding: 3%
}

.chat-time {
    color: white;
    font-size: 20px;
}

.chat-message {
    color: white;
    font-size: 20px;
}