<p>Create a new chat:</p>

<input id="group-name-box" [(ngModel)]="chat.groupname" type="text" placeholder="Group Name" name="groupname" required/>
<!-- redo -->
<div>
    <p *ngFor="let c of ch">
        <img src="{{c.profilepic}}">
        <span>{{c.name}}</span>
    </p>
    <input #searchusers id="name-box" (input)="search(searchusers.value)" type="text " placeholder="Name " name="name " />
    <div>
        <ul *ngFor="let user of userarr ">
            <span onclick="document.getElementById('addperson').value='' " (click)=adduser(user)>{{user.name}}</span>
        </ul>
    </div>
</div>

<input id="send-button" (click)="newgroup()" type="submit" value="Send" required/>