<p>newmessage works!</p>

<input [(ngModel)]="chat.groupname" type="text" placeholder="Group Name" name="groupname" required/>
<!-- redo -->
<div>
    <p *ngFor="let c of ch">
        <span>{{c.profilepic}}  </span>
        <span>  {{c.name}}</span>
    </p>
    <input #searchusers id="addperson" (input)="search(searchusers.value)" type="text" placeholder="Name" name="name" />
    <div>
        <ul *ngFor="let user of userarr">
            <span onclick="document.getElementById('addperson').value=''" (click)=adduser(user)>{{user.name}}</span>
        </ul>
    </div>
</div>

<input (click)=" newgroup() " type="submit " value="Send " required/>