<p id="settings-text">Settings</p>
<div>
    <p id="update-pic-text">Update your Profile Picture</p>
    <input id="profile-pic-box" [(ngModel)]="user.profilepic" type="text" placeholder="profilepic" name="profilepic" required />
    <input id="update-profile-pic-button" (click)="updateprofilepic()" type="submit" value="update" required/>
</div>

<div>
    <p id="update-pass-text">Update your Password and Name</p>
    <input id="name-box" [(ngModel)]="user2.name" type="text" placeholder="name" name="name" required/>
    <input id="password-box" [(ngModel)]="user2.password" type="text" placeholder="password" name="password" required/>
    <input id="update-password-and-name-button" (click)="update()" type="submit" value="update" required/>
</div>